* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF47D;
}

.btn {
    width: 140px;
    height: 40px;
    padding: 0px 10px;
    color: #fff;
    border-radius: 40px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: #272224;
    border: none;
    z-index: 1;
    overflow: hidden;
}

.btn span {
    display: inline-block;
    height: 17px;
}

.btn span:first-child {
    padding-right: 10px;
}

.btn span img {
    height: 16px;
}

.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: rgb(244, 0, 118);
    background: linear-gradient(54deg, rgba(244, 0, 118, 1) 0%, rgba(52, 39, 17, 1) 100%);
    border-radius: 40px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
}

.btn:hover:after {
    left: 0;
    width: 100%;
}

.btn:active {
    top: 2px;
}